python-dotenv
psycopg[binary]
docling
requests
sentence-transformers
scikit-learn
python-jose[cryptography]
passlib[bcrypt]==1.7.4
python-multipart
email-validator
openai-whisper
fastapi
uvicorn[standard]
pydantic[email]
